@charset "utf-8";

.iframe-wrapper {
	position: relative;
	width: 100%;
	margin: 0 0 20px;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}